@import '../../theme/palette';

.feed {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    background-color: $paletteColor3;
}

.postEnter {
	opacity: .01;

    &.postEnterActive {
		opacity: 1;
		transition: opacity 0.3s ease-in;
	}
}

.postExit {
	opacity: 1;
	filter: blur(0);

    &.postExitActive {
		opacity: 0.01;
		transition: opacity 0.3s ease-in, filter 0.3s ease-in;
        filter: blur(5px);
	}
}
