@import '../../theme/palette';

.counter {
	position: relative;
	color: $paletteColor7;
	text-align: center;

	&::before {
		content: '';
		width: 30px;
		height: 30px;
		display: inline-block;
		margin: -2px 4px 0 0;
		vertical-align: middle;

		background: {
			image: url('../../theme/assets/post.png');
			repeat: no-repeat;
			size: 30px;
		}
	}
}

.button {
	color: #fff;
	margin-left: 15px;
	padding: 3px 8px;

	background: #999;
	border: 0;

	cursor: pointer;
}