@import '../../theme/palette';

.post {
	display: flex;
	position: relative;
	flex-direction: column;
	margin: 10px 0;
	padding: 12px;

	border: 1px solid darken($paletteColor2, 15%);
	border-radius: 3px;
	background-color: $paletteColor2;

	img {
		width: 40px;
		height: 40px;
		margin-right: 15px;
		border: 1px solid $paletteColor5;
		cursor: pointer;
	}
}

.name {
    position: absolute;
    top: 15px;
    left: 60px;

    color: $paletteColor7;
    text-decoration: none;
	font-weight: 700;
	cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.time {
    position: absolute;
    top: 35px;
    left: 60px;

    color: $paletteColor5;
	text-decoration: none;

	font-size: 12px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.message {
    margin-top: 16px;
    font-size: 14px;
}

.cross {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;

    width: 10px;
    height: 10px;

    background: {
        image: url('../../theme/assets/cross.png');
        repeat: no-repeat;
    }
    cursor: pointer;

    &:hover {
        background-position: -13px 0;
    }
}

.likeBox {
	position: relative;
	width: 50px;
	padding: 3px;

	&:hover .likeList {
		opacity: 1;
		transform: translate(0, 0);
	}

	span {
		margin-left: 5px;
		color: #999;
		vertical-align: middle;
	}
}

.likeList {
	position: absolute;
	bottom: 100%;
	left: 0;

	width: 150px;
	margin: 0;
	padding: 7px 10px;
	list-style-type: none;

	color: #fff;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 13px;

	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;

	opacity: 0;
	transform: translate(0, -50px);
	transition: translate .3s ease;

	li {
		margin: 2px 0;
	}
}

.like {
	width: 26px;
	height: 26px;
	margin: 0;
	display: inline-block;
	vertical-align: middle;

	cursor: pointer;

	background: {
		image: url('../../theme/assets/like.png');
		position: 100% 0;
		repeat: no-repeat;
	}

	&.isLiked {
		background-position: 0 0;
	}
}
